doctype html
block variables
  - var title = title || "Survey"
head
  title #{title}
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // ===============================================================================================
  link(rel='icon' type='image/png' href='/images/icons/favicon.ico')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='/vendor/bootstrap/css/bootstrap.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='/vendor/animate/animate.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='/vendor/css-hamburgers/hamburgers.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='/vendor/select2/select2.min.css')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css")
  link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")

  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='/css/util.css')
  link(rel='stylesheet' type='text/css' href='/css/main.css')
  // ===============================================================================================
body
  #wrap-loader
    .loader Loading...
  block content
  
  block scrips
    script(src='/vendor/jquery/jquery-3.2.1.min.js')
    // ===============================================================================================
    script(src='/vendor/bootstrap/js/popper.js')
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
    // ===============================================================================================
    script(src='/vendor/select2/select2.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js")
    // ===============================================================================================
    script(src='/vendor/tilt/tilt.jquery.min.js')
    script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.3/qs.min.js")
    
    script.
      $('.js-tilt').tilt({
      scale: 1.1
      })

    // ===============================================================================================
    script(src='/js/main.js')
  include templates/error
  block scriptsCustom
    script.