extends ../../layout

block content

  a#button
  .container-survey
    .header
    .wrap-survey
      .wrap-content.text-center.pt-3(style="height: calc(60vh);")
        img(src="images/success.png", alt="Success")
        h3
          | Thank You!
        div.mt-2
          | Your submission have been received